.expenses__info {
  font-style: italic;
  font-size: 1.2em;
  padding: 20px;
  margin: 0;
}

.expenses__dashboard {
  background: darken($color: #fff, $amount: 10%);
  border-radius: 3px;
  margin-bottom: 30px;
}

.expense-item {
  border-bottom: 2px solid white;
  padding: 20px;
}

.expense-item__name {
  word-wrap: break-word;
}

.expense-item__description {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
    span {
      font-weight: 400;
    }
}