.login {
  background: url('/images/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  background-color: darken($color: white, $amount: 10%);
  color: #333;
  padding: $xl-size $l-size;
  text-align: center;
    h1 {
      margin: 0;
      font-weight: 400;
    }
    p {
      margin: $s-size 0;
    }
}

.login__button-google {
  background-color: lighten($color: blue, $amount: 17%);
  border: none;
  border-radius: 3px;
  color: white;
  margin-top: $s-size;
  padding: $s-size;

}